html {
    padding: 0.7%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    cursor: none;
}
body {
    background: url(../img/background.jpg);
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    min-height: 100%; //수치조정필요
    width: 100%;
    font-family: var(--font-main);
    overflow-x: hidden;
    overflow-y: hidden;
}
