#header {
    width: 20%;
    min-width: 320px;
    min-height: 910px;
    .profileWrap {
        width: 100%;
        @include borderbottom;
        @include bordertop;
        position: relative;
        > span {
            &:nth-of-type(1) {
                left: auto;
                right: -2px;
            }
        }
        .logoWrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            @include borderbottom;
            position: relative;
            > span {
                &:nth-of-type(1) {
                    top: auto;
                    left: auto;
                    right: -3px;
                    bottom: -2px;
                }
            }
            .logo {
                width: 45%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -1px;
                    width: 100%;
                    height: 1px;
                    background: var(--base-border2);
                }
                > span {
                    &:nth-of-type(1) {
                        height: 10%;
                        display: block;
                        position: relative;
                        @include borderleft;
                        @include borderright;
                        > span {
                            &:nth-of-type(1) {
                                top: auto;
                                left: auto;
                                right: -2px;
                                bottom: -2px;
                            }
                            &:nth-of-type(2) {
                                top: -2px;
                                left: auto;
                                right: -2px;
                            }
                            &:nth-of-type(3) {
                                top: -2px;
                            }
                            &:nth-of-type(4) {
                                top: auto;
                                bottom: -2px;
                                left: -2px;
                            }
                        }
                    }
                }
                > div {
                    width: 70%;
                    margin: 0 auto;
                    height: 70%;
                    // background-image: url("data:image/svg+xml,%0A%3Csvg width='500' height='500' viewBox='0 0 500 500' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='250' cy='250' r='250' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M355.659 167.47C354.057 168.179 352.327 168.546 350.578 168.548H89.7267C88.4826 168.547 87.2657 168.179 86.2249 167.488C85.1842 166.798 84.3649 165.814 83.8673 164.659C83.3696 163.503 83.2153 162.226 83.4232 160.983C83.6311 159.74 84.1921 158.585 85.0376 157.66L140.003 97.8735C141.193 96.5749 142.634 95.5387 144.237 94.8294C145.84 94.1202 147.57 93.7532 149.319 93.7514H410.17C411.424 93.7251 412.66 94.0757 413.719 94.7591C414.778 95.4425 415.617 96.4281 416.123 97.5919C416.632 98.7557 416.787 100.046 416.573 101.3C416.359 102.554 415.784 103.715 414.921 104.639L359.894 164.426C358.704 165.724 357.262 166.761 355.659 167.47ZM359.894 211.5C358.699 210.208 357.257 209.176 355.655 208.467C354.053 207.758 352.325 207.388 350.578 207.378H89.7267C88.4826 207.379 87.2657 207.747 86.2249 208.438C85.1842 209.129 84.3649 210.112 83.8673 211.268C83.3696 212.423 83.2153 213.7 83.4232 214.943C83.6311 216.186 84.1921 217.341 85.0376 218.266L140.003 278.085C141.197 279.377 142.64 280.409 144.241 281.118C145.843 281.827 147.571 282.197 149.319 282.206H410.17C411.412 282.2 412.623 281.827 413.66 281.134C414.697 280.441 415.511 279.457 416.005 278.303C416.499 277.149 416.651 275.874 416.44 274.634C416.231 273.393 415.672 272.242 414.828 271.319L359.894 211.5ZM414.921 331.924L359.894 391.711C358.704 393.01 357.262 394.046 355.659 394.755C354.057 395.465 352.327 395.832 350.578 395.833H89.7267C88.4826 395.833 87.2657 395.465 86.2249 394.774C85.1842 394.083 84.3649 393.099 83.8673 391.944C83.3696 390.789 83.2153 389.511 83.4232 388.268C83.6311 387.025 84.1921 385.871 85.0376 384.946L140.003 325.159C141.193 323.86 142.634 322.824 144.237 322.115C145.84 321.406 147.57 321.038 149.319 321.037H410.17C411.424 321.01 412.66 321.361 413.719 322.044C414.778 322.728 415.617 323.713 416.123 324.877C416.632 326.041 416.787 327.331 416.573 328.585C416.359 329.839 415.784 331.001 414.921 331.924Z' fill='url(%23paint0_linear_201_27)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_201_27' x1='283.859' y1='526.979' x2='525.155' y2='191.345' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.08' stop-color='%239945FF'/%3E%3Cstop offset='0.3' stop-color='%238752F3'/%3E%3Cstop offset='0.5' stop-color='%235497D5'/%3E%3Cstop offset='0.6' stop-color='%2343B4CA'/%3E%3Cstop offset='0.72' stop-color='%2328E0B9'/%3E%3Cstop offset='0.97' stop-color='%2319FB9B'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-image: url(https://cdn.pixabay.com/photo/2022/04/02/20/22/robot-7107688_960_720.png);
                    background-image: url("../img/logo2.png");
                    // background-image: url(../img/logo2.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    transform: scale(1) translateX(-5px);
                }
                > span {
                    &:nth-last-of-type(1) {
                        height: 20%;
                        display: block;
                        position: relative;
                        @include borderleft;
                        @include borderright;
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            width: 100%;
                            height: 1px;
                            background: var(--base-border2);
                        }
                        > .bdcir {
                            &:nth-of-type(2) {
                                left: auto;
                                top: -2px;
                                right: -2px;
                            }
                            &:nth-of-type(3) {
                                top: auto;
                                bottom: -2px;
                            }
                            &:nth-of-type(4) {
                                left: auto;
                                top: auto;
                                bottom: -2px;
                                right: -2px;
                            }
                        }
                        > span {
                            &:nth-last-of-type(1) {
                                display: block;
                                width: 100%;
                                height: 50%;
                                position: relative;
                                @include borderbottom;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    bottom: -2px;
                                    left: 20%;
                                    width: 3px;
                                    height: 3px;
                                    background: #f34e5fb7;
                                }
                                &::after {
                                    position: absolute;
                                    content: "";
                                    bottom: -2px;
                                    left: 50%;
                                    width: 3px;
                                    height: 3px;
                                    background: rgba(255, 235, 205, 0.753);
                                }
                                > .bdcir {
                                    &:nth-of-type(2) {
                                        left: -2px;
                                        top: auto;
                                        bottom: -2px;
                                    }
                                    &:nth-of-type(3) {
                                        left: auto;
                                        top: auto;
                                        bottom: -2px;
                                        right: -2px;
                                    }
                                    &:nth-of-type(4) {
                                        top: auto;
                                        bottom: -2px;
                                        left: 80%;
                                        background: var(--font-color);
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            top: 30%;
                                            left: 59%;
                                            transform: translate(-50%, -50%);
                                            width: 15px;
                                            height: 15px;
                                            border-radius: 50%;
                                            border: 1px solid #f34e5fb7;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > div {
                width: 55%;
                .logoName {
                    padding: 10px 8px;
                    width: 100%;
                    // height: 55px;
                    min-height: 70px;
                    display: flex;
                    align-items: center;
                    @include borderbottom2;
                    position: relative;
                    > span {
                        &:nth-of-type(1) {
                            top: auto;
                            bottom: -2px;
                        }
                        &:nth-of-type(2) {
                            top: auto;
                            left: auto;
                            bottom: -2px;
                            right: -2px;
                        }
                    }
                    > p {
                        display: block;
                        width: 100%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 2rem;
                        font-family: var(--font-main5);
                        color: var(--font-color2);
                        letter-spacing: 0.3rem;
                        margin-left: 0.3rem;
                    }
                }
                .currentTime {
                    padding: 5px;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 1.2;
                    @include borderbottom;
                    margin-bottom: 4px;
                    position: relative;
                    color: #a4bfbaad;
                    font-weight: normal;
                    font-family: var(--font-main2);
                    &::before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 20%;
                        right: -1px;
                        bottom: 20%;
                        background: var(--base-border);
                    }
                    > .bdcir {
                        &:nth-of-type(2) {
                            top: auto;
                            left: auto;
                            bottom: 20%;
                            right: -2px;
                        }
                        &:nth-of-type(3) {
                            top: auto;
                            left: auto;
                            bottom: 40%;
                            right: -2px;
                        }
                        &:nth-of-type(4) {
                            top: auto;
                            left: auto;
                            bottom: -2px;
                            right: -3px;
                        }
                        &:nth-of-type(5) {
                            top: auto;
                            bottom: -2px;
                        }
                    }
                }
            }
        }
        .infoWrap {
            display: flex;
            position: relative;
            height: 175px;
            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: -1px;
                width: 55%;
                height: 1px;
                background: var(--base-border2);
            }
            > div {
                &:nth-of-type(1) {
                    width: 45%;
                    height: 97%;
                    @include borderbottom;
                    position: relative;
                    > div {
                        &:nth-of-type(1) {
                            height: 32%;
                            width: 100%;
                            @include borderleft;
                            position: relative;
                            > .bdcir {
                                top: auto;
                                bottom: -2px;
                            }
                        }
                        &.humanimg {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -44%);
                            width: 70%;
                            margin: 0 auto;
                            height: 75%;
                            overflow: hidden;
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                            img {
                                vertical-align: bottom;
                            }
                        }
                    }
                    > .bdcir {
                        top: auto;
                        bottom: -2px;
                    }
                }
            }

            .headerInfoDesc {
                width: 55%;
                height: 97%;
                @include borderbottom2;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 50%;
                    background: var(--base-border);
                    bottom: 0;
                }
                > div {
                    &:nth-of-type(1) {
                        height: 14%;
                        height: fit-content;
                        position: relative;
                        @include borderbottom;
                        > .bdcir {
                            &:nth-of-type(1) {
                                top: auto;
                                bottom: -2px;
                            }
                            &:nth-of-type(2) {
                                top: auto;
                                left: auto;
                                right: -2px;
                                bottom: -2px;
                            }
                        }
                        > p {
                            padding: 8px 4px;

                            display: block;
                            font-size: 1rem;
                            text-align: center;
                            > em {
                                @include emdeco;
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        margin: 0 auto;
                        height: 100%;
                        position: relative;
                        > div {
                            &:nth-of-type(1) {
                                width: 57%;
                                margin: 0 auto;
                                margin-top: 1%;
                                height: 100%;
                                // background: url("/임시이미지.svg");
                                background: url("https://i.pinimg.com/originals/fe/84/4c/fe844cbda6fa537f1f2bfe47551f6de3.gif");
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                            &:nth-of-type(2) {
                                position: absolute;
                                top: 70%;
                                left: 10px;
                                font-size: 0.1rem;
                            }
                            &:nth-of-type(3) {
                                position: absolute;
                                top: 70%;
                                right: 16px;
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
                > .bdcir {
                    &:nth-of-type(1) {
                        top: auto;
                        left: -1px;
                        bottom: 50%;
                    }
                    &:nth-of-type(2) {
                        top: auto;
                        left: -1px;
                        bottom: -2px;
                    }
                    &:nth-of-type(3) {
                        top: auto;
                        left: auto;
                        right: -2px;
                        bottom: -2px;
                    }
                }
            }
            > .bdcir {
                &:nth-of-type(1) {
                    top: auto;
                    bottom: -2px;
                }
                &:nth-of-type(2) {
                    top: auto;
                    left: auto;
                    right: -2px;
                    bottom: -2px;
                }
                &:nth-of-type(3) {
                    top: auto;
                    left: auto;
                    right: 55%;
                    bottom: -2px;
                    transform: translateX(55%);
                }
            }
        }
    }
    .headerContWrap {
        margin-top: 30px;
        min-height: 390px;
        @include bordertop;
        // @include borderbottom;
        position: relative;
        > div {
            &:nth-of-type(1) {
                padding: 10px 7px;
                @include borderbottom;
                position: relative;
                > p {
                    text-align: center;
                    > em {
                        @include emdeco;
                    }
                }
                > .bdcir {
                    &:nth-of-type(2) {
                        left: auto;
                        right: -2px;
                    }
                    &:nth-of-type(3) {
                        top: auto;
                        bottom: -2px;
                    }
                    &:nth-of-type(4) {
                        top: auto;
                        left: auto;
                        bottom: -2px;
                        right: -2px;
                    }
                }
            }
            &:nth-of-type(2) {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include borderright;
                > div {
                    width: 25%;
                    padding: 5px 10px;
                    height: 60px;
                    padding-top: 8px;
                    @include borderright;
                    position: relative;
                    &:nth-child(1) {
                        @include borderleft;
                        width: 50%;
                        > p {
                            text-align: center;
                            letter-spacing: 0.25rem;
                            &:first-child {
                                font-weight: bold;
                                > em {
                                    color: var(--font-color2);
                                    font-weight: normal;
                                    font-style: normal;
                                }
                            }
                            &:nth-child(2) {
                                letter-spacing: 0.4rem;
                                font-size: 0.2rem;
                            }
                        }
                        > div {
                            margin-top: 13px;
                            width: 100%;
                            height: 5px;
                            background: var(--base-border);
                            @include borderleft2;
                            @include borderright2;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                top: -11px;
                                right: 30%;
                                transform: translateX(5px);
                                border-top: 8px solid var(--font-color3);
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                animation: techgraphtarget 3s 1s infinite ease-out;
                            }
                            > div {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 30%;
                                height: 100%;
                                background: var(--font-color2);
                                @include borderleft2;
                                border-color: var(--font-color3);
                                animation: techgraphBar 3s 1s infinite ease-out;
                            }
                        }
                        > span {
                            &:nth-of-type(2) {
                                left: auto;
                                right: -2px;
                            }
                            &:nth-of-type(3) {
                                top: auto;
                                bottom: -2px;
                            }
                            &:nth-of-type(4) {
                                top: auto;
                                left: auto;
                                right: -2px;
                                bottom: -2px;
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        > table {
                            // border: 1px solid var(--base-border);
                            text-align: center;
                            border-collapse: collapse;
                            border-spacing: 0;
                            font-size: 0.8rem;
                            tr {
                                > td {
                                    @include borderleft;
                                    @include borderbottom;
                                }
                                &:nth-child(1) td {
                                    &:nth-child(1) {
                                        border-left: none;
                                    }
                                }
                                &:nth-child(2) td {
                                    &:nth-child(1) {
                                        border-left: none;
                                    }
                                }
                                &:nth-child(3) td {
                                    &:nth-child(1) {
                                        border-left: none;
                                        border-bottom: none;
                                    }
                                    &:nth-child(2) {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }

                        > span {
                            &:nth-of-type(1) {
                                left: auto;
                                right: -2px;
                            }
                            &:nth-of-type(2) {
                                left: auto;
                                top: auto;
                                bottom: -2px;
                                right: -2px;
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        border: none;
                        > span {
                            &:nth-of-type(1) {
                                left: auto;
                                right: -2px;
                            }
                            &:nth-of-type(2) {
                                left: auto;
                                top: auto;
                                right: -2px;
                                bottom: -2px;
                            }
                        }
                        > div {
                            margin: 0 auto;
                            width: 80%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                margin-top: 20px;
                > div {
                    @include borderleft;
                    // @include borderright;
                    margin-bottom: 16px;
                    position: relative;

                    > div {
                        &:nth-of-type(1) {
                            padding: 5px 10px;
                            margin: 0 auto;

                            display: flex;
                            align-items: center;
                            > em {
                                font-size: 0.8rem;
                                margin-right: 2px;
                            }
                            > p {
                                font-weight: bold;
                            }
                        }
                    }
                    .graph {
                        width: 82%;
                        height: 7px;
                        // background: var(--base-border);
                        border: 1px solid var(--base-border);
                        // border-radius: 2px;
                        margin: 0 auto;
                        margin-left: 48px;
                        margin-top: 5px;
                        position: relative;
                        // overflow: hidden;

                        .graphBar {
                            // position: absolute;
                            // top: 0;
                            // left: 0;
                            // width: 90%;
                            position: relative;
                            height: 100%;
                            background: var(--base-border);
                            border-radius: 2px;
                            &.graphBar_js {
                                width: 0%;
                                animation: graphjs 1.5s ease-out forwards;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -1px;
                                    width: 2px;
                                    height: 98%;
                                    background: var(--font-color2);
                                    border-top-right-radius: 1px;
                                    border-bottom-right-radius: 1px;
                                }
                                .graphCount {
                                    position: absolute;
                                    top: -20px;
                                    right: -15px;
                                    font-size: 1rem;
                                    opacity: 0;
                                    animation: graphjsCount 1.5s forwards;
                                }
                            }
                            &.graphBar_css {
                                width: 0%;
                                animation: graphcss 1.5s 1s ease-out forwards;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -1px;
                                    width: 2px;
                                    height: 100%;
                                    background: var(--font-color2);
                                }
                                .graphCount {
                                    position: absolute;
                                    top: -20px;
                                    right: -15px;
                                    font-size: 1rem;
                                    opacity: 0;
                                    animation: graphcssCount 1.5s 1s forwards;
                                }
                            }
                            &.graphBar_php {
                                width: 0%;
                                animation: graphphp 1.5s 2s ease-out forwards;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -1px;
                                    width: 2px;
                                    height: 100%;
                                    background: var(--font-color2);
                                }
                                .graphCount {
                                    position: absolute;
                                    top: -20px;
                                    right: -15px;
                                    font-size: 1rem;
                                    opacity: 0;
                                    animation: graphphpCount 1.5s 2s forwards;
                                }
                            }
                            &.graphBar_react {
                                width: 0%;
                                animation: graphreact 1.5s 3s ease-out forwards;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -1px;
                                    width: 2px;
                                    height: 100%;
                                    background: var(--font-color2);
                                }
                                .graphCount {
                                    position: absolute;
                                    top: -20px;
                                    right: -15px;
                                    font-size: 1rem;
                                    opacity: 0;
                                    animation: graphreactCount 1.5s 3s forwards;
                                }
                            }
                            &.graphBar_vue {
                                width: 0%;
                                animation: graphvue 1.5s 4s ease-out forwards;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -1px;
                                    width: 2px;
                                    height: 100%;
                                    background: var(--font-color2);
                                }
                                .graphCount {
                                    position: absolute;
                                    top: -20px;
                                    right: -15px;
                                    font-size: 1rem;
                                    opacity: 0;
                                    animation: graphvueCount 1.5s 4s forwards;
                                }
                            }
                        }
                    }
                    > span {
                        &:nth-of-type(2) {
                            top: auto;
                            bottom: -2px;
                        }
                    }
                    .graphCount {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        display: block;
                        color: var(--font-color2);
                        font-size: 12px;
                        transform: translate(0, 6%);
                        font-family: var(--font-main2);
                    }
                }
            }
        }

        // > .bdcir {
        //     &:nth-of-type(1) {
        //         top: auto;
        //         bottom: -2px;
        //     }
        //     &:nth-of-type(2) {
        //         top: auto;
        //         left: auto;
        //         right: -2px;
        //         bottom: -2px;
        //     }
        // }
    }
    .headerLastWrap {
        margin-top: 20px;
        height: 150px;
        @include bordertop;
        @include borderbottom;
        position: relative;
        > div {
            &:nth-child(1) {
                width: 100%;
                margin: 0 auto;
                padding: 5px 7px;
                @include borderbottom;
                position: relative;
                > span {
                    &:nth-of-type(2) {
                        left: auto;
                        right: -2px;
                    }
                    &:nth-of-type(3) {
                        top: auto;
                        bottom: -2px;
                    }
                    &:nth-of-type(4) {
                        top: auto;
                        bottom: -2px;
                        left: auto;
                        right: -2px;
                    }
                }
                > p {
                    display: block;
                    width: fit-content;
                    padding: 3px 10px;
                    margin: 0 auto;
                    text-align: center;
                    position: relative;
                    > em {
                        @include emdeco;
                    }
                    > span {
                        border-radius: 50%;
                        border: 1px solid var(--base-border2);
                        background: none;
                        width: 4px;
                        height: 4px;
                        &:nth-of-type(2) {
                            left: auto;
                            right: -2px;
                        }
                        &:nth-of-type(3) {
                            top: auto;
                            bottom: -2px;
                        }
                        &:nth-of-type(4) {
                            left: auto;
                            top: auto;
                            bottom: -2px;
                            right: -2px;
                        }
                        &:nth-of-type(5) {
                            left: auto;
                            top: auto;
                            bottom: -3px;
                            right: 50%;
                        }
                        &:nth-of-type(6) {
                            left: auto;
                            top: -3px;
                            right: 50%;
                        }
                    }
                }
            }
        }
        .music__wrap {
            padding: 10px 4px;
            > .music__inner {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                // @include borderbottom;
                // @include bordertop;
                padding: 5px 0;
                > .music__left {
                    width: 45%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    @include borderright;
                    > .music__circle {
                        width: 80px;
                        height: 80px;
                        background: var(--base-border);
                        border-radius: 50%;
                        border: 2px solid var(--base-border2);
                        box-shadow: inset 0px 0px 0px 3px var(--bg-dark);
                        position: relative;
                        transform: rotate(-383deg);
                        transition: transform 1.6s ease-out;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 59%;
                            height: 59%;
                            background: var(--bg-dark);
                            border-radius: 50%;
                            border: 3px solid var(--bg-dark);
                            box-shadow: inset 0px 0px 0px 3px var(--base-border2);
                        }
                        > div {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-bottom: 5px solid transparent;
                            border-top: 5px solid transparent;
                            border-left: 8px solid var(--font-color3);
                            border-right: 0px solid transparent;
                            right: 0px;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                    }
                    > .music__list {
                        width: calc(75% - 80px);
                        margin-left: 15%;
                        > ul {
                            li {
                                display: block;
                                width: 100%;
                                height: 16px;
                                background: url(../img/music__list1.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                display: block;
                                transition: all 0.3s ease-out;
                                position: relative;
                                margin-bottom: 10px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                > span {
                                    top: 50%;
                                    left: -12px;
                                    transform: translate(0, -50%);
                                    &:nth-of-type(2) {
                                        left: auto;
                                        right: 12px;
                                    }
                                }
                                &.active {
                                    display: block;
                                    background: url(../img/music__list2.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    transition: all 0.3s ease-out;
                                }
                            }
                        }
                    }
                }
                > .music__right {
                    width: 54%;
                    .music__control {
                        display: flex;
                        align-items: center;
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        margin-left: 25px;
                        > div {
                            width: 50%;
                            &:nth-child(1) {
                                height: 35px;
                                background: url(../img/music__play.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                            &:nth-child(2) {
                                > p {
                                    font-size: 1.6rem;
                                    color: var(--font-color3);
                                    letter-spacing: 0.15rem;
                                }
                            }
                        }
                    }
                    .music__equal {
                        width: 85%;
                        height: 35px;
                        background: url(../img/music__equal.jpg);
                        margin: 0 auto;
                    }
                }
            }
        }
        > span {
            &:nth-of-type(1) {
                left: -3px;
                top: auto;
                bottom: -2px;
            }
            &:nth-of-type(2) {
                left: auto;
                right: -2px;
                top: auto;
                bottom: -2px;
            }
        }
    }
    .nomeanLine {
        width: 100%;
        height: 5px;
        @include borderbottom;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 60%;
            top: 0;
            right: 0;
            height: 1px;
            background: var(--base-border2);
        }
        &::after {
            content: "";
            position: absolute;
            width: 60%;
            bottom: 0;
            right: 0;
            height: 1px;
            background: var(--base-border2);
        }
        > span {
            &:nth-of-type(1) {
                left: 40%;
                top: -2px;
                transform: translate(-40%);
            }
            &:nth-of-type(2) {
                left: -2px;
                top: auto;
                bottom: -2px;
                transform: translate(-40%);
            }
            &:nth-of-type(3) {
                left: 40%;
                top: auto;
                bottom: -2px;
                transform: translate(-40%);
            }
            &:nth-of-type(4) {
                left: auto;
                top: auto;
                right: -3px;
                bottom: -2px;
                transform: translate(-40%);
            }
        }
    }
    .nomeanLine2 {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.3rem;
        position: relative;
        > div {
            position: relative;
            &:nth-of-type(1) {
                width: 40.2%;
                text-align: left;
                padding-left: 4px;
                span {
                    left: -3px;
                }
            }
            &:nth-of-type(2) {
                width: fit-content;
                margin-right: 8px;
                padding-left: 4px;
            }
            &:nth-of-type(3) {
                width: fit-content;
                padding-left: 4px;
            }
            &:nth-of-type(4) {
                position: absolute;
                right: -2px;
                bottom: 0;
                width: fit-content;
                text-align: right;
                > .bdcir {
                    left: auto;
                    left: -6px;
                }
            }
            span {
                em {
                    font-weight: bold;
                    color: var(--font-color2);
                }
            }
            .bdcir {
                width: 2px;
                height: 2px;
                top: 50%;
                left: -2px;
                transform: translate(0, -15%);
            }
        }
    }
}
