@keyframes graphjs {
    0% {
        width: 0;
    }
    100% {
        width: 88%;
    }
}
@keyframes graphcss {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}
@keyframes graphphp {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes graphreact {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
@keyframes graphvue {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

// footer footerwave
@keyframes wave {
    to {
        transform: rotate(135deg);
    }
}

// footer footercube
@keyframes cuberotation {
    from {
        transform: rotateY(0) rotateX(0);
    }
    to {
        transform: rotateY(-360deg) rotateX(360deg);
    }
}
