@keyframes graphjs {
    0% {
        width: 0;
    }
    100% {
        width: 88%;
    }
}
@keyframes graphcss {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}
@keyframes graphphp {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes graphreact {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
@keyframes graphvue {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
