// site1 forwards
@keyframes start1Ani {
    100% {
        opacity: 0;
    }
}
// site2 forwards
@keyframes start2Ani {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    74% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    86% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    93% {
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// blinkText
@keyframes blinkText {
    50% {
        opacity: 0;
    }
}
// load
@keyframes load {
    0% {
        filter: opacity(0);
        background-color: #1a1a1a;
    }
    50% {
        filter: opacity(0);
        background-color: #1d1d1d;
    }
    100% {
        filter: opacity(1);
        background-color: #0c0c0c;
    }
}

// mouseOverflicker
@keyframes mouseOverflicker {
    50% {
        opacity: 0;
    }
}
// borderflash
@keyframes borderflash {
    0% {
        background: var(--base-border2);
        opacity: 0;
    }
    30% {
        background: var(--base-border2);
        opacity: 1;
    }
    60% {
        background: var(--base-border2);
        opacity: 0;
    }
    70% {
        background: var(--base-border2);
        opacity: 1;
    }
    85% {
        background: var(--base-border2);
        opacity: 0;
    }
    90% {
        background: var(--base-border2);
        opacity: 1;
    }

    100% {
        background: var(--base-border2);
        opacity: 0;
    }
}
// headerglich
@keyframes glitch-anim-1 {
    0% {
        opacity: 1;
        transform: translate3d(10px, 0, 0);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    2% {
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    4% {
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    8% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    10% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    12% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    14% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    16% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    18% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(10px, 0, 0);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * 10px), 0, 0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
    3% {
        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    5% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
    7% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    9% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    11% {
        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
    13% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    15% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
    17% {
        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
    19% {
        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
    20% {
        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * 10px), 0, 0);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-3 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}
@keyframes glitch-anim-flash {
    0%,
    5% {
        opacity: 0.2;
        transform: translate3d(10px, 5px, 0);
    }
    5.5%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}
// main
@keyframes contentcircle__stick {
    0% {
        transform: translate(-15%, -1px) rotate(0deg);
    }
    20% {
        transform: translate(-15%, -1px) rotate(45deg);
    }
    25% {
        transform: translate(-15%, -1px) rotate(45deg);
    }
    60% {
        transform: translate(-15%, -1px) rotate(90deg);
    }
    65% {
        transform: translate(-15%, -1px) rotate(90deg);
    }
    80% {
        transform: translate(-15%, -1px) rotate(210deg);
    }
    85% {
        transform: translate(-15%, -1px) rotate(220deg);
    }

    100% {
        transform: translate(-15%, -1px) rotate(360deg);
    }
}
@keyframes ListName {
    0% {
        width: 0%;
        border-right: 10px solid #abded5;
        border-left: 10px solid #abded5;
        color: #abded500;
    }
    5% {
        opacity: 1;
    }
    40% {
        color: #abded500;
    }
    95% {
        color: #abded5a2;
    }
    100% {
        width: 95%;
        opacity: 1;
    }
}
@keyframes contentMainMove {
    to {
        background-position: center center;
    }
    25% {
        background-position: center 65%;
    }
    50% {
        background-position: center center;
    }
    75% {
        background-position: center 35%;
    }
    from {
        background-position: center center;
    }
}

// main__btm
@keyframes spin3D {
    from {
        transform: rotate3d(0.5, 0.5, 0.5, 360deg);
    }
    to {
        transform: rotate3d(0deg);
    }
}
@keyframes spinner-boxScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

// footerdescflash
@keyframes footerdescflash {
    5% {
        text-shadow: none;
    }
    20% {
        text-shadow: 0px 0px 3px snow;
    }
    40% {
        text-shadow: 0px 0px 3px snow;
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 0px 3px snow;
    }
}

// 헤더 그래프
@keyframes graphjs {
    0% {
        width: 0;
    }
    100% {
        width: 88%;
    }
}
@keyframes graphjsCount {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes graphcssCount {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes graphphpCount {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes graphreactCount {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes graphvueCount {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes graphcss {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}
@keyframes graphphp {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@keyframes graphreact {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
@keyframes graphvue {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
// header 그래프 상단
@keyframes techgraphBar {
    0% {
        width: 30%;
    }
    20% {
        width: 35%;
    }
    50% {
        width: 40%;
    }
    60% {
        width: 30%;
    }
    70% {
        width: 24%;
    }
    100% {
        width: 30%;
    }
}
@keyframes techgraphtarget {
    0% {
        right: 30%;
    }
    40% {
        right: 25%;
    }
    60% {
        right: 30%;
    }
    75% {
        right: 33%;
    }
    88% {
        right: 24%;
    }
    100% {
        right: 30%;
    }
}

// footer footerwave
@keyframes wave {
    to {
        transform: rotate(135deg);
    }
}

// footer footercube
@keyframes cuberotation {
    from {
        transform: rotateY(0) rotateX(0);
    }
    to {
        transform: rotateY(-360deg) rotateX(360deg);
    }
}
@keyframes cubefront {
    from {
        transform: translate3d(0, 0, 20px) scale(1);
    }
    50% {
        transform: translate3d(0, 0, 50px) scale(1.3);
    }
    to {
        transform: translate3d(0, 0, 20px) scale(1);
    }
}
@keyframes cubeback {
    from {
        transform: rotateY(180deg) translate3d(0, 0, 20px) scale(1);
    }
    50% {
        transform: rotateY(180deg) translate3d(0, 0, 50px) scale(1.3);
    }
    to {
        transform: rotateY(180deg) translate3d(0, 0, 20px) scale(1);
    }
}
@keyframes cubeleft {
    from {
        transform: rotateY(-90deg) translate3d(0, 0, 20px) scale(1);
    }
    50% {
        transform: rotateY(-90deg) translate3d(0, 0, 50px) scale(1.3);
    }
    to {
        transform: rotateY(-90deg) translate3d(0, 0, 20px) scale(1);
    }
}
@keyframes cuberight {
    from {
        transform: rotateY(90deg) translate3d(0, 0, 20px) scale(1);
    }
    50% {
        transform: rotateY(90deg) translate3d(0, 0, 50px) scale(1.3);
    }
    to {
        transform: rotateY(90deg) translate3d(0, 0, 20px) scale(1);
    }
}
@keyframes cubetop {
    from {
        transform: rotateX(90deg) translate3d(0, 0, 20px) scale(1);
    }
    50% {
        transform: rotateX(90deg) translate3d(0, 0, 50px) scale(1.3);
    }
    to {
        transform: rotateX(90deg) translate3d(0, 0, 20px) scale(1);
    }
}
@keyframes cubebottom {
    from {
        transform: rotateX(-90deg) translate3d(0, 0, 20px) scale(1);
    }
    50% {
        transform: rotateX(-90deg) translate3d(0, 0, 50px) scale(1.3);
    }
    to {
        transform: rotateX(-90deg) translate3d(0, 0, 20px) scale(1);
    }
}
@keyframes cubeborder {
    0% {
        opacity: 0.3;
        border-color: var(--base-border);
    }
    50% {
        border-radius: 2px;
        opacity: 0.5;
        border-color: #68856e;
    }
    100% {
        opacity: 0.3;
        border-color: var(--base-border);
    }
}
// radar ani
@keyframes sweeper {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes radarborderscale {
    from {
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    to {
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }
}

@keyframes blipper {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    45% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 0.5;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bdcirflash {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    35% {
        opacity: 0.2;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
