#main {
    width: 68%;
    > .main__top {
        width: 100%;
        height: 100px;
        background: #222;
    }
    > .main__mid {
        margin: 0 auto;
        width: 90%;
        height: 700px;
        position: relative;
        // background: url("https://i.pinimg.com/564x/13/b2/48/13b24887a5858810a896c12a0a4a27ff.jpg");
        background: #222;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/mapLayout.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 5;
        }
    }
}
